src/main/mule/distinctby.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1a4c27a6-5418-40d2-bca6-bce9640603f2" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="distinctbyFlow" doc:id="b6cf8b07-a023-444a-91a5-a9a9bb77b05a" >
		<http:listener doc:name="Listener" doc:id="8c986cd5-b56b-4306-a568-47572001546f" config-ref="HTTP_Listener_config" path="/getdetailsby"/>
		<ee:transform doc:name="Transform Message" doc:id="582fa318-597e-4e37-b151-30367c7bbe1f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
book:{
	authors:payload.book.&author distinctBy $
	
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
